$background-color: #FAFAFA;
$primary-color: #00693E;
$text-color: #1F2937;
$link-color: #551A8B;
$secondary-font: 'Merriweather', serif;
$decorative-font: 'Montserrat', sans-serif;
$baybayin-font-text: 'Malibata', sans-serif;