@use 'variables' as v;
@use 'sass:color';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 7vw;
    margin-right: 7vw;

    > .navBrand {
        font-family: v.$decorative-font;
        font-size: 2rem;
        font-weight: 600;
        color: v.$primary-color;
        cursor: pointer;

        &:hover {
            color: color.adjust(v.$primary-color, $lightness: -10%);
            transform: scale(1.02);
            transition: color 0.2s ease, transform 0.2s ease;
        }
    }


    > ul {
        font-family: 'Inter', sans-serif;
        list-style: none;
        display: flex;
        gap: 30px;
        font-size: 0.875rem;
        color: rgba(31, 41, 55, 0.5);

        a {
            all: unset;
            cursor: pointer;
            color: inherit;
            
            &:hover {
                color: rgba(31, 41, 55, 0.7);
            }
        }

        a.active {
            color: rgba(31, 41, 55, 1);
        }
    }
}

/* Responsive styles */
@media (max-width: 768px) {
  nav {
    margin-left: 5vw;
    margin-right: 5vw;

    > .navBrand {
      font-size: 1.5rem;
    }

    > ul {
      font-size: 0.8rem;
      gap: 15px;
    }
  }
}

@media (max-width: 480px) {
  nav {
    > .navBrand {
      font-size: 1.3rem;
    }

    > ul {
      font-size: 0.7rem;
    }
  }
}


@media (max-width: 400px) {
  nav {
    > .navBrand {
      font-size: 1.2rem;
    }

    > ul {
      font-size: 0.69rem;
    }
  }
}

@media (max-width: 385px) {
  nav {
    > .navBrand {
      font-size: 1rem;
    }

    > ul {
      font-size: 0.6rem;
    }
  }
}

@media (max-width: 345px) {
  nav {
    > .navBrand {
      font-size: 0.9rem;
    }

    > ul {
      font-size: 0.55rem;
    }
  }
}